.body {
    border: 0;
    margin: 0;
    padding: 0;
}

.mobile {
    position: absolute;
    width: 390px;
    background-color: #ffffff;
}

.unitname-box {
    position: relative;
    width: 104px;
    height: 65px;
    margin-top: 159px;
    margin-left: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #262626;
    background-color: #ffffff;
    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 220%;
    text-align: center;
    color: #262626;
}

.img-box {
    width: 390px;
    height: 487.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
    margin-top: -32px;
}

.fill>img {
    object-fit: fill;
}

.paragraph-box {
    width: 390px;
    height: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 68px;
    margin-bottom: 68px;
    background-color: #ffffff;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #404040;
    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 220%;
    text-align: center;
    color: #404040;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.cards-graduation {
    width: 323px;
    height: 468px;
    border: 0.75px solid #262626;
}

.cards-img-graduation {
    width: 100%;
    height: 101%;
    max-width: 283px;
    max-height: 267px;
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    /*margin-bottom:23px;*/
}

.cards-taipeimuseum {
    width: 323px;
    height: 499px;
    border: 0.75px solid #262626;
}

.cards-img-taipeimuseum {
    width: 100%;
    height: 101%;
    max-width: 283px;
    max-height: 298px;
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    /*margin-bottom:23px;*/
}

.cards-content {
    flex-grow: 1;
}

.cards-content-h2 {
    position: relative;
    margin-left: 20px;
    margin-top: 26px;
    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
    color: #262626;
    max-width: 283px;
    max-height: 56px;
}


.cards-content-p {
    position: relative;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #262626;
    max-width: 283px;
    margin-top: 23px;
    max-height: 49px;
    margin-left: 20px;
    margin-bottom: 29px;
}